
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500;700&family=VT323&display=swap');

 
 body{
  font-family: 'Press Start 2P', cursive;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6e64b8f7-82f5-47e5-9319-e2e69ca6f56d/d9f6x59-83bc7697-99b5-4ab1-b56c-48286f982b2b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZlNjRiOGY3LTgyZjUtNDdlNS05MzE5LWUyZTY5Y2E2ZjU2ZFwvZDlmNng1OS04M2JjNzY5Ny05OWI1LTRhYjEtYjU2Yy00ODI4NmY5ODJiMmIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Ecp8az9AAdUgHhqzZodMeTYiyjhki3Mbn-rK2JjN4MM');
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #548CFF; 
  background-position: right;
  background-attachment: fixed;
  color: white;
}
.navbar{
  display: flex;
  justify-content:center;
}
nav a{
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color:#333;
}
main{
  width: 240px;
  font-weight: bold;
  margin: 10px auto;
  text-align:center;
  border-radius: 4px;
  font-size: 30px;
  color: #FFCCCC;
  line-height: 50px;
  background-color: #D64D00;
  padding: 20px 150px 20px 150px;
  border-style: outset;
  border-width: 3px;
  border-bottom-color: black;
  border-right-color: black;
  box-shadow: 1px 1px 5px rgb(69, 67, 67);
  position: relative;
  top:50px;
  text-shadow: 5px 6px 0px black;
}

ul{
  padding-left:0;


}
ul li{
  display: block;
}
.home,
.login,
.register,
.logout{
  color: white;
  cursor: pointer;
}
.home{
  margin-left: 50px;
}
.text-field {
  padding: 5px;
  height: 30px;
  width: 350px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: outset;
  border-width: 2px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px rgba(66,66,66,.75);
  text-shadow: 1px 0px 2px rgba(0,0,0,.74);
  position: relative;
  left:-50px;

}
.text-field:focus {
  outline:none;
}

.btn{
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
  font-size: 14px;
  color: #ffffff;
  background-color: #01a500;
  padding: 8px 15px;
  border: outset #b8b8b8 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 4px;
  transition : 265ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  right:-50px;
  left:70px;
  top:10px;
  text-shadow: 3px 2px 0px black;
  }
  
  .btn:hover{
  transition : 265ms;
  transform : translateY(-0px);
  background-color: #048604;
  } 
  .btn:ative{
    background-color: #b72504;
    border:inset 2px #adadad;

  }

  .register-btn{
    position: relative;
    left: 50px;
  }

  .todos{
    position: relative;
    top:30px;
  }

.todos-field{
  display: flex;
  justify-content: space-between;
}
  .delete-btn{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
}
